@import "../fonts/stylesheet.css";

*,
body,
html {
  background-color: #444;
  color: #eee;
}

:root {
  --mdc-theme-primary: #7289da;
  --mdc-theme-secondary: #eee;
  --mdc-theme-background: #36393e !important;
  --mdc-text-field-outline-color: #eee !important;
}

.mdc-button--outlined {
  --mdc-theme-primary: #353535;
}

input,
select,
textarea {
  color: #eee !important;
}

.mdc-text-field {
  color: #eee;
  border-color: #eee !important;
}

.mdc-floating-label {
  color: #acbdbd !important;
}

.center .parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center .child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toprightparent {
  display: flex;
  flex-direction: row;
}

.toprightchild {
  margin: 1em;
}

.mdc-text-field__input {
  width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: product_sansregular;
}

h1 {
  font-size: 4em;
}

.weather {
  font-size: 2em;
}